<div class="col-lg-3 col-md-3 col-sm-3  p-0 m-0">
  <div class="accordion h-50 m-3 side-bar" id="accordionExample">
    
    <div class="card">
      <div class="card-header p-0 bg-dark" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn  collapsed text-light shadow-none" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Manage Catgeory
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body bg-light">
          <a href="/admin/add-blog" class="text-dark ">Add a new Category</a>
        </div>
        <div class="card-body">
          <a href="/admin/update-blog" class="text-dark">Rename Category</a>
        </div>
        <div class="card-body bg-light">
          <a href="/admin/delete-blog" class="text-dark">Delete Category</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header p-0 bg-dark" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn  collapsed text-light shadow-none" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Manage Blogs
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body bg-light">
          <a href="/admin/add-blog" class="text-dark">Add a new Blog</a>
        </div>
        <div class="card-body">
          <a href="/admin/update-blog" class="text-dark">Update a Blog</a>
        </div>
        <div class="card-body bg-light">
          <a href="/admin/delete-blog" class="text-dark">Delete a Blog</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <a href="/admin/archive" class="text-dark text-blog font-italic font-weight-bolder">Archive</a>
      </div>
    </div>
  </div>
</div>