<!-- Footer -->
<div class="container-fluid " style="background-color: #000000;">
    <footer class="page-footer  m-0">
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4">
                    <!-- brand logo  -->
                    <div class="header_logo">
                        <h2 class="logo" style="user-select: none;">
                            
                                Write Liner
                                <img src="/Images/white-pen.png" alt="Write Liner" class="logo_pen">
                            
                        </h2>
                    </div>
                    <p class="text-light" style="user-select: none;">
                        Write Liner contains the Information of various things related to Technology, Education, Religion, Fashion etc.
                         The main aim of this project is to spread awareness among the public regarding various topics in only one site.
                    </p>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-4 mt-3">
                    <h5 class="text-uppercase py-3 text-light" style="user-select: none">Reach US AT</h5>
                    <div class="col-12 p-0 mb-5 flex-center">
                        <!-- Facebook -->
                        <a class="fb-ic p-0  mr-4"  target="blank" href="https://www.facebook.com/asnan.ashfaq.9?ref=bookmarks">
                            <i class="fa fa-facebook-f fa-lg white-text  fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic p-0  mr-4" href="#">
                            <i class="fa fa-twitter fa-lg white-text fa-2x"> </i>
                        </a>
                        <!--github -->
                        <a class="li-ic p-0  mr-4" target="blank" href="https://github.com/AsnanAshfaq/Write-Liner">
                            <i class="fa fa-github fa-lg white-text  fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic p-0  mr-4"  target="blank" href="#">
                            <i class="fa fa-instagram fa-lg white-text fa-2x  mt-3"> </i>
                        </a>
                        <!--Pinterest-->
                        <a class="pin-ic p-0" href="#">
                            <i class="fa fa-pinterest fa-lg white-text fa-2x  mt-3"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 mt-3">
                     <h5 class="text-uppercase py-3 text-light" style="user-select: none">Developed By</h5>
                <ul style="list-style-type: none">
                    <li>
                        <!-- link to my port folio -->
                        <a href="#" class="port-folio ">
                            <h6 class="text-uppercase text-light " style="user-select: none;">Asnan Ashfaq (ASH)</h6>
                        </a>
                    </li>
                </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright
            <a href="http://localhost:3000/">Write Liner</a>
        </div>
        <!-- Copyright -->

    </footer>
</div>