<div class="footerContainer">
    <div class="copyrightContainer">

        <h3 style="user-select: none;">Write Liner</h3>
        <h5 style="user-select: none;">Copyright &#169; 2020 </h5>
    </div>

    <div class="contactContainer">
        <h3 style="user-select: none;">Contact Us</h3>

        <a href="https://www.facebook.com/asnan.ashfaq.9" target="_blank">
            <i class="fa fa-facebook fa-2x"></i>
        </a>
        <a href="https://github.com/AsnanAshfaq" target="_blank">
            <i class="fa fa-github fa-2x"></i>
        </a>

    </div>
</div>