<!-- Footer -->
<div class="container-fluid bg-dark" style="background-color: #000000;">
    <footer class="page-footer  m-0">
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4">
                    <!-- brand logo  -->
                    <div class="header_logo">
                        <h2 class="logo">
                            <a href="/">
                                Write Liner
                                <img src="/Images/white-pen.png" alt="Write Liner" class="logo_pen">
                            </a>
                        </h2>
                    </div>
                    <p class="text-light" style="user-select: none;">Make it Work is a social platform which provides
                        the oppurtunity to the software developers for collaborating with each other and building their
                        portfolio.</p>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-4 py-5">
                    <h5 class="text-uppercase py-3 text-light" style="user-select: none">Reach US AT</h5>
                    <div class="col-12 p-0 mb-5 flex-center">
                        <!-- Facebook -->
                        <a class="fb-ic p-0" href="https://www.facebook.com/asnan.ashfaq.9?ref=bookmarks">
                            <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic" href="#">
                            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--github -->
                        <a class="li-ic" href="https://github.com/AsnanAshfaq/Make-it-WORK">
                            <i class="fa fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic" href="#">
                            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x  mt-3"> </i>
                        </a>
                        <!--Pinterest-->
                        <a class="pin-ic" href="#">
                            <i class="fa fa-pinterest fa-lg white-text fa-2x  mt-3"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-md-4 py-5">
                    <!-- about the developers  -->
                    <!-- <h5 class="text-uppercase py-3 text-light" style="user-select: none">Developers</h5>
                <ul style="list-style-type: none">
                    <li>
                        <h6 class="text-uppercase text-light" style="user-select: none">Asnan Ashfaq (ASH)</h6>
                    </li>
                </ul> -->
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/">Make it WORK.com</a>
        </div>
        <!-- Copyright -->

    </footer>
</div>