<div class="header_container">

    <!-- header logo  -->
    <div class="header_logo">
        <h2 class="logo">
            <a href="/">
                Write Liner
                <img src="/Images/white-pen.png" alt="Write Liner" class="logo_pen">
            </a>
        </h2>
    </div>



    <!-- header drop down -->
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle category shadow-none" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Sports</a>
            <a class="dropdown-item" href="#">Fashion</a>
            <a class="dropdown-item" href="#">Business</a>
            <a class="dropdown-item" href="#">Religion</a>
            <a class="dropdown-item" href="#">Education</a>
        </div>
    </div>


    <!-- search input  -->

    <div class="input-group mb-3">
        <div class="input-group-prepend">

            <span class="input-group-text search_icon" id="basic-addon1">
                <i class="fa fa-search"></i>
            </span>
        </div>
        <input type="text" class="form-control search_input" placeholder="Search Blog Here " aria-label="Username"
            aria-describedby="basic-addon1">
    </div>

    <!-- register panel  -->

    <ul class="nav nav-tabs register">
        <li class="nav-item">
            <a class="nav-link " href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
        </li>

    </ul>


</div>