* {
    margin: 0;
    padding: 0;
  }

  /* styling header  START*/
.header_container{
    width: auto;
    height: 85px;
    display: flex;
    background-color: black;
}

/* styling header logo   */
.header_logo{
    padding: 20px;
}
.logo{
    font-family: 'Finger Paint', cursive;
    font-weight: 100;
    font-style: 25px;
    padding: 0;
    color: white;
    width: fit-content;
    height: fit-content;
}

.logo_pen{
    width:32px; 
    height:32px; 
    position: absolute;
    top: 32px;
}
.header_logo a{
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    outline: 0; 
    color:inherit;
}

/* styling categories  */
.dropdown{
    flex: 1;
    padding: 20px;
}
.dropdown-menu a:hover {
    background-color: black;
}
.category{
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
}

.input-group{
    flex: 3;
    padding: 20px;
}
.search_icon:hover{
    cursor:pointer;
}
.search_input:active , .search_input:focus{
    border: none;
}

/* styling register panel  */
.register{
    flex: 3;
    padding: 15px;
}
.nav-tabs{
    border: none;
}
.nav-link{
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.nav-link:hover{
    border: none;
    color: white;
    font-size: 20px;
}

/* styling header  END*/